@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: "Gajraj One";
    src: url("../fonts/GajrajOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Overpass";
    src: url("../fonts/Overpass-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Passion One";
    src: url("../fonts/PassionOne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-fundo: rgb(47, 43, 140, 75%);
    --color-principal: #D504D9;
    --color-secundaria: #034C8C;
    --color-hover: #4EBFFF;

    --font-principal: "Gajraj One", sans-serif;
    --font-secundaria: "Overpass", sans-serif;
    --font-terciaria: "Passion One", sans-serif;
}
body {
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    padding-top: 2%;
}

main {
    background-color: var(--color-fundo);
    width: 650px;
    height: 580px;;
    margin: 40px auto;
    border-radius: 20px;
}

section {
    padding: 40px 35px 0 35px;
}

h1 {
    font-family: var(--font-principal);
    font-size: 55px;
    color: var(--color-principal);
}
hr {
    width: 80%;
    border: 2px solid var(--color-principal);
}

label {
    font-family: var(--font-terciaria);
    font-size: 35px;
    color: var(--color-principal);
    margin-top: 29px;
    display: block;
}

input[type="email"], 
input[type="password"] {
    width: 45%;
    height: 30px;
    margin-top: 15px;
    padding: 4px;
    border: none;
}

button {
    width: 25%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    display: block;
    margin: 60px auto 40px auto;
    border: 1px solid var(--color-hover);
    background-color: var(--color-principal);
    color: var(--color-hover);
}

button:hover {
    background-color: var(--color-hover);
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    cursor: pointer;
}

p {
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 20px;
    font-weight: bold;
    color: var(--color-principal);
}

p a {
    text-decoration: none;
    color: var(--color-hover);
}

p a:hover {
    color: var(--color-principal);
}