@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url("/img/fundo.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}